---

- name: Install JRE
  apt:
    name: default-jre
    state: present
    update_cache: yes

- name: Create a working directory if it does not exist
  ansible.builtin.file:
    path: "{{ working_dir }}"
    state: directory
    mode: '0755'

- name: Download BuildTools Jar
  get_url:
      url: "{{ BuildTools_jar }}"
      dest: "{{ working_dir }}/BuildTools.jar"

- name: Check for a spigot file already compiled
  find:
    paths:
      - "{{ working_dir }}"
    patterns:
      - "spigot*.jar"
  register: spigot

- name: Install BuildTools
  command: java -Xmx1G -Xms1G -jar BuildTools.jar nogui
  args:
    chdir: "{{ working_dir }}"
  when: spigot.files == []

- name: List Online_Plugins
  debug:
    msg: "An item: {{ item.name }} with url : {{ item.url }}"
  with_items: "{{ Online_Plugins }}"

- name: List Local_Plugins
  debug:
    msg: "An item: {{ item.name }} with url : {{ item.path }}"
  with_items: "{{ Copy_Plugins }}"

- name: Create a plugins directory if it does not exist
  ansible.builtin.file:
    path: "{{ working_dir }}/plugins"
    state: directory
    mode: '0755'

- name: Download Online Plugings
  get_url:
    url: "{{ item.url }}"
    dest: "{{ working_dir }}/plugins/{{item.name}}.jar"
  with_items: "{{ Online_Plugins }}"

- name: Download Local Plugings
  ansible.builtin.copy:
    src: "templates/{{ item.path }}"
    dest: "{{ working_dir }}/plugins/{{item.name}}.jar"
  with_items: "{{ Copy_Plugins }}"

- name: Copy the minecraft_server socket file
  template:
    src: minecraft_server.socket.j2
    dest: /etc/systemd/system/minecraft_server.socket
    owner: root
    group: root
    mode: 0644
  notify: restart minecraft_server socket

- name: Copy the minecraft_server systemd service file
  template:
    src: minecraft_server.service.j2
    dest: /etc/systemd/system/minecraft_server.service
    owner: root
    group: root
    mode: 0644

- name: Copy the minecraft_server systemd service file
  template:
    src: eula.txt
    dest:  "{{ working_dir }}/eula.txt"
    owner: root
    group: root
    mode: 0644
  notify: restart minecraft_server

- name: Ensure Spigot is enabled on boot
  systemd:
    daemon_reload: true
    name: minecraft_server
    enabled: true