---

- name: Install JRE
  apt:
    name: default-jre
    state: present
    update_cache: yes

- name: Create a directory if it does not exist
  ansible.builtin.file:
    path: "{{ working_dir }}"
    state: directory
    mode: '0755'

- name: Download BuildTools Jar
  get_url:
      url: "{{ BuildTools_jar }}"
      dest: "{{ working_dir }}/BuildTools.jar"

- name: Install BuildTools
  command: java -Xmx1G -Xms1G -jar BuildTools.jar nogui
  args:
    chdir: "{{ working_dir }}"
  when: eula_file.stat.exists == false

- name: Ansible check for eula.txt file
  ansible.builtin.stat:
    path: "{{ working_dir }}/eula.txt"
  register: eula_file

- name: Add a line to a file if the file does not exist
  ansible.builtin.lineinfile:
    path: "{{ working_dir }}/eula.txt"
    line: eula=true
    create: yes
  when: eula_file.stat.exists and eula_file.stat.isreg

- name: Ansible check for server log file
  ansible.builtin.stat:
    path: "{{ working_dir }}/BuildTools.log.txt"
  register: BuildToolsLogs

- name: Install BuildTools
  command: java -Xmx1G -Xms1G -jar BuildTools.jar nogui
  args:
    chdir: "{{ working_dir }}"
  when: eula_file.stat.exists and eula_file.stat.isreg and BuildToolsLogs.stat.exists == false

- name: List Plugings
  debug:
    msg: "An item: {{ item }}"
  with_items: "{{ Plugins }}"

- name: Download Plugings
  get_url:
    url: "{{ item }}"
    dest: "{{ working_dir }}/plugins"
  with_items: "{{ Plugins }}"

- name: Copy the minecraft_server systemd service file
  template:
    src: minecraft_server.service.j2
    dest: /etc/systemd/system/minecraft_server.service
    owner: root
    group: root
    mode: 0644
  notify: restart minecraft_server

- name: Ensure Spigot is enabled on boot
  systemd:
    daemon_reload: true
    name: minecraft_server
    enabled: true
