[Unit]
Description=Minecraft server with plugins
After=network-online.target
StartLimitInterval=0

[Service]
WorkingDirectory={{ working_dir }}

Sockets=minecraft_server.socket
StandardInput=socket
NonBlocking=false

ExecStart=java -Xmx1G -Xms1G -jar {{ working_dir }}/spigot-1.16.5.jar nogui
SyslogIdentifier=minecraft_server
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
